site_name: LRT服务器 | LRT Server
site_url: https://example.com/
site_author: BuelieR(离烟)

# 导航栏
nav:
  - 首页: index.md
  - 服务器标准:
    - 基本规则: base_rules.md 
    - meter.md
    - road.md
    - railway.md
  - 备案:
    - record.md
    - way_record.md
    - city_record.md
  - 其他: 
    - server_res.md
    - manger.md
    - city_plan.md
    - 日月前事: past_events.md

theme:
  name: material
  language: zh
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - search.share
    - search.suggest
    - search.highlight
  palette:
    - media: "(prefers-color-scheme: light)" 
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"  
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  font:
    text: "Roboto Mono"
    code: "Roboto Mono"

markdown_extensions:
  - footnotes
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra:
  copyright: Copyright &copy; 2026 LRT服务器 | LRT Server
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:yydshmcl@outlook.com
    - icon: fontawesome/brands/github
      link: https://github.com/BuelieR/LRT_RULES