site_name: LRT服务器制度 | LRT Server Rules
site_url: https://example.com/
site_author: BuelieR(离烟)

# 导航栏
nav:
  - 首页: index.md
  - 服务器项目标准: 
    - meter.md
    - road.md
    - railway.md
  - 备案:
    - record.md
    - way_record.md
    - city_record.md
  - 其他: 
    - server_res.md
    - manger.md
    - city_plan.md

theme:
  name: material
  language: zh
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - search.share
    - search.suggest
    - search.highlight
  palette:
    - media: "(prefers-color-scheme: light)" 
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"  
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  font:
    text: "Roboto Mono"
    code: "Roboto Mono"

markdown_extensions:
  - footnotes

extra:
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:yydshmcl@outlook.com